* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h2 {
    font-size: 2.8em;
    line-height: 2em;
    color: #fff;
    filter: drop-shadow(1px 1px 8px #fff);
}

.container p {
    color: #fff;
    font-size: 1.2em;
}

.container .btn {
    width: 170px;
    height: 50px;
    appearance: none;
    outline: none;
    border: none;
    background-color: #1cb5f0;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
}