.navbar-logo {
  width: 3rem;
  height: 3rem;
}

.navbar {
  height: var(--navbar-height);
  position: sticky;
  top: 0;
}
.bg-jet {
  background-color: var(--jet);
}

.search-nav-style {
  background-color: var(--jet-lighter);
  border: 0;
}
