h1,
p {
  margin: 0;
  padding: 0;
}
.music-player {
  width: 100%;
  height: 5rem;
  background-color: var(--jet-lighter);
  color: white;
}

.cover-art {
  background-image: url("../assets/img/coverPlaceholder.jpg");
  height: 100%;
  width: 5rem;
  background-size: contain;
}

.song-name {
  font-size: x-large;
}

.media-controls {
  padding: 1rem, 2rem, 3rem, 4rem;
}

/* From uiverse.io by @Voxybuns */
.button-animated {
  /* Variables */
  --button_radius: 5rem;
  --button_color: #e8e8e8;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--frostbite);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--frostbite);
  border-radius: var(--button_radius);
  padding: 0.5em 0.7em;
  background: var(--button_color);
  color: var(--jet);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.button-animated:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.button-animated:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
  background-color: var(--pale-silver);
  transition: 0.1s;
}

.music-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
