:root{
  --frostbite: rgb(225, 40, 159);
  --jet: rgb(50, 48, 49);
  --jet-lighter: rgb(61, 59, 60);
  --pale-silver: rgb(193, 189, 179);
  --lavender-blush: rgb(247, 235, 236);
  --box-shadow-neon: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
}

body{
  background-image: url(./../assets/musica3.png);
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
/*---------------------------------------------------------------CARD TOMAS---*/

.flip {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  padding: 1em;
  width: 25rem;
  height: 25rem;
  transform-style: preserve-3d;
  transition: 3s ease;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.flip:hover {
  transform: rotateY(180deg);
}
/* Content */
.flip .content {
  transform-style: preserve-3d;
}

.flip .back, .flip .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flip h2,
.flip p {
  transform: translateZ(90px);
  text-shadow: 0 0 3px black;
  text-align: center;
}

.flip h2 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 1px;
}

.flip p {
  font-size: 1em;
  color: #eee;
  line-height: 25em;
}

.flip::before,
.flip::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(./../assets/tomasAboutUs.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg)translateZ(1px);
  border-radius: 2rem;
}

.flip::before {
  transform: none;
  background-image: url(./../assets/3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--------------------------------------------------------NACHO CARD-*/

.flip1 {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  padding: 1em;
  width: 25rem;
  height: 25rem;
  transform-style: preserve-3d;
  transition: 3s ease;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.flip1:hover {
  transform: rotateY(180deg);
}
/* Content */
.flip1 .content {
  transform-style: preserve-3d;
}

.flip1 .back, .flip1 .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip1 .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flip1 h2,
.flip1 p {
  transform: translateZ(90px);
  text-shadow: 0 0 3px black;
  text-align: center;
}

.flip1 h2 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 1px;
}

.flip1 p {
  font-size: 1em;
  color: #eee;
  line-height: 25em;
}

.flip1::before,
.flip1::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(./../assets/2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg)translateZ(1px);
  border-radius: 2rem;
  object-fit: contain;
}

.flip1::before {
  transform: none;
  background-image: url(./../assets/1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*------------------------------------------------------CARD MAURI-----*/

.flip2 {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.5);
  padding: 1em;
  width: 25rem;
  height: 25rem;
  transform-style: preserve-3d;
  transition: 3s ease;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.flip2:hover {
  transform: rotateY(180deg);
}
/* Content */
.flip2 .content {
  transform-style: preserve-3d;
}

.flip2 .back, .flip2 .front {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip2 .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flip2 h2,
.flip2 p {
  transform: translateZ(90px);
  text-shadow: 0 0 3px black;
  text-align: center;
}

.flip2 h2 {
  font-size: 3em;
  color: #fff;
  letter-spacing: 1px;
}

.flip2 p {
  font-size: 1em;
  color: #eee;
  line-height: 25em;
}

.flip2::before,
.flip2::after {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-image: url(./../assets/mauriAboutUs.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg)translateZ(1px);
  border-radius: 2rem;
}

.flip2::before {
  transform: none;
  background-image: url(./../assets/2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}



.scene {
  width: 10em;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
 }
 
 .cube {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
 }
 
 .cube:hover {
  transform: rotateX(-90deg);
 }
 
 .side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-weight: bold;
 }
 
 .top {
  background: var(--jet);
  color: var(--lavender-blush);
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #fff;
 }
 
 .front1 {
  background: var(--jet-lighter);
  color: var(--lavender-blush);
  box-shadow: inset 0 0 0 5px #fff;
  transform: translate3d(0, 0, 2em);
 }