.row {
    z-index: 1;
}

.aside {
    background-color: var(--pale-silver);
}

.aside > h5, .aside ul {
    color: var(--jet);
}

.carousel {
    height: 40rem;
    background-color: black;
}

/* From uiverse.io by @Tiagoadag */
.card {
    /*width: 190px;*/
    height: 241px;
    background-image: linear-gradient(163deg, var(--frostbite) 0%, var(--pale-silver) 100%);
    border-radius: 20px;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
   .card2 {
    width: 100%;
    height: 241px;
    background-color: var(--jet);
    border-radius:;
    transition: all .2s;
    display: flex;
    justify-content: space-around;
   }
   
   .card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .card:hover {
    box-shadow: 0px 0px 30px 1px var(--frostbite);
   }
   
   .contenedorUl > ul:nth-child(odd) {
    background-color: var(--jet);
    color: var(--pale-silver);
    display: flex;
    justify-content: space-between;
   }

   .contenedorUl > ul:nth-child(even) {
    background-color: var(--jet-lighter);
    color: var(--pale-silver);
    display: flex;
    justify-content: space-between;
   }

   img {
    width: 50%;
    height: 100%;
   }

